@import './utils';
@import './fonts';
@import 'typography';
@import './header/header';
@import './main/main';
@import './footer/footer';
@import './mainTransitonStyles';

html {
  height: 100%;
  width: 100vw;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: $c-gray;
  height: 100%;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
  width: 100%;
}

ul,
li,
a,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

button,
input,
textarea {
  border: none;
  background-color: transparent;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
  min-width: 270px;
  max-width: 1194px;
}

@media (min-width: 744px) {
  .container {
    padding-left: 34px;
    padding-right: 34px;
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  .container {
    padding: 0;
  }
}
