@import './vars';

@mixin hover($property, $toValue) {
  & {
    transition: #{$property} 0.3s ease;

    &:hover {
      #{$property}: $toValue;
    }
  }
}

// styles fot text///

@mixin button {
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
}

@mixin main-text {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@mixin secondary-text {
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

@mixin thirdary-text {
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

@mixin quote {
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;

  @media (min-width: 1440px) {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
  }
}

@mixin h1-styles {
  font-family: Inter, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;

  @media (min-width: 744px) {
    font-size: 48px;
    line-height: 62px;
  }

  @media (min-width: 1200px) {
    font-size: 62px;
    line-height: 78px;
  }
}

@mixin h2-styles {
  font-family: Inter, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;

  @media (min-width: 744px) {
    font-size: 36px;
    line-height: 46px;
  }

  @media (min-width: 1200px) {
    font-size: 56px;
    line-height: 70px;
  }
}

@mixin h3-styles {
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;

  @media (min-width: 744px) {
    font-size: 24px;
    line-height: 30px;
  }

  @media (min-width: 1200px) {
    font-size: 34px;
    line-height: 42px;
  }
}

@mixin h4-styles {
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
}

@mixin h5-styles {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

@mixin h6-styles {
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
